/* Color Theme Swatches in Hex */
//$Dolomites-//-Into-the-Clouds-1-hex: #192026;
//$Dolomites-//-Into-the-Clouds-2-hex: #2C3740;
//$Dolomites-//-Into-the-Clouds-3-hex: #F2A35E;
//$Dolomites-//-Into-the-Clouds-4-hex: #F28749;
//$Dolomites-//-Into-the-Clouds-5-hex: #BF6E50;

/* Color Theme Swatches in RGBA */
$Dolomites-Into-the-Clouds-0-rgba: rgba(255,255,255, 1);
$Dolomites-Into-the-Clouds-1-rgba: rgba(25,32,38, 1);
$Dolomites-Into-the-Clouds-2-rgba: rgba(43,54,63, 1);
$Dolomites-Into-the-Clouds-3-rgba: rgba(242,163,94, 1);
$Dolomites-Into-the-Clouds-4-rgba: rgba(242,134,72, 1);
$Dolomites-Into-the-Clouds-5-rgba: rgba(191,109,80, 1);

//bg
$Dolomites-Bg-1: rgba(25,32,38, .8);
//horizontal line
$Dolomites-Horizontal-Line: rgba(191,109,80, 1);
//links
$Dolomites-Links: rgba(242,163,94, 1);

