@import "../../../design-tokens/colors";

.resumeWrapper {

  img {
    height: 150px;
  }

  p {

  }

  h2 {
    //padding-top: 2em;
  }

  p, h2, h4 {
    color: #fff;
  }
}

.leftSideColumn {
  text-align: center;

  .wrapper {
    background: rgba(25, 32, 38, 0.8);
    padding: 2em;
  }

  h2 {
    //padding-top: 2em;
    //background-image: linear-gradient(33deg, $Dolomites-Into-the-Clouds-5-rgba 25%, $Dolomites-Into-the-Clouds-3-rgba);
    //-webkit-text-fill-color: transparent;
    //background-clip: text;
  }

  h4 {
    background-image: linear-gradient(33deg, $Dolomites-Into-the-Clouds-5-rgba 25%, $Dolomites-Into-the-Clouds-3-rgba);
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  @media (max-width: 768px) {
    margin: auto;
    h2 {
      padding: 0;
    }
  }
}

.resumeRightCol {
  background: $Dolomites-Bg-1;
  color: $Dolomites-Into-the-Clouds-0-rgba;
  padding: 2em;
}

.resumeWrapper hr {
  border-top: 2px solid $Dolomites-Horizontal-Line;
}
