@import "../../../design-tokens/colors";

.projects-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.tabs {
  color: $Dolomites-Into-the-Clouds-0-rgba;
}

.mdl-tabs__tab .mdl-tabs__ripple-container .mdl-ripple {
  background: $Dolomites-Into-the-Clouds-3-rgba;
}

.demo-tabs .mdl-tabs__tab-bar .mdl-tabs__tab.is-active {
  //color: $Dolomites-Into-the-Clouds-3-rgba;
  color: $Dolomites-Into-the-Clouds-3-rgba;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
  background: $Dolomites-Into-the-Clouds-3-rgba;
}

.mdl-card__title {
  color: $Dolomites-Into-the-Clouds-3-rgba;
  height: 176px;
  padding: 0;
}
.mdl-card__title-text{
  padding: 10px 15px;
  background: rgba(0,0,0,.5);
  display: flex;
  width: 100%;
}