@import "src/design-tokens/colors";

.Name {
  color: $Dolomites-Into-the-Clouds-0-rgba;
  background-image: linear-gradient(33deg, $Dolomites-Into-the-Clouds-5-rgba 25%, $Dolomites-Into-the-Clouds-3-rgba);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transition: 0.2s ease-in;
}

.ContactImg {
  max-width: 200px;
}

.ContactLinks {
  margin-top: 1rem;
}

.contactBody {
  padding-top: 2em;
}

.contactGrid {
  text-align: center;
  justify-content: center;
  width: 80%;
  background: $Dolomites-Bg-1;
  color: $Dolomites-Into-the-Clouds-0-rgba;
  margin-bottom: 20px;
}

.contactGrid h2 {
  font-family: 'Anton', sans-serif;
}

.contactGrid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contactGrid hr {
  border-top: 5px dotted $Dolomites-Into-the-Clouds-0-rgba;
  width: 50%;
  margin: auto;
}

.contactList {
  color: $Dolomites-Into-the-Clouds-0-rgba;
}

.contactList i {
  font-size: 66px;
  padding-right: 5rem;
  color: $Dolomites-Into-the-Clouds-0-rgba;
}

.contactLinks {
  color: $Dolomites-Links;
}

.ListItemContent {
  font-size: 30px;
  color: white;
  font-family: 'Anton', sans-serif;
}