@import "src/design-tokens/colors";

.mdl-layout__content{
  background-image: url("./images/layoutBg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.header {
  /*background: #833ab4;  !* fallback for old browsers *!*/
  /*background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  !* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
  //background: #000000;  /* fallback for old browsers */
  //background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(90deg, $Dolomites-Into-the-Clouds-1-rgba, $Dolomites-Into-the-Clouds-2-rgba);
a{
  text-decoration: none;
  color:white;
  font-weight: 600;
  letter-spacing: 3px;
}
}

/* header hover styles */
.mdl-navigation__link {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: $Dolomites-Into-the-Clouds-4-rgba;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
  }

  &:hover {
    background: none;

    &:after {
      transform-origin: bottom left;
      transform: scaleX(1);
    }
  }
}

.drawer-wrapper {
  background: rgba(0, 0, 0, 0.7);
  transition-duration: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  a{
    text-decoration: none;
    color: white;
    img{
      width: 100%;
      height: auto;
      max-width: 100px;
      margin: auto;
      display: flex;
    }
  }
}

.avatar-img {
  //height: 250px;
  //padding-top: 5em;
}

.mdl-layout__header-row .mdl-navigation__link {
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.mdl-layout__drawer-button {
  color: #ffffff;
}



.vertical-timeline-element-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link{
  color: white;
}


.is-visible .mdl-navigation__link {
  animation-name: slideLeft;
  -webkit-animation-name: slideLeft;

  animation-duration: .6s;
  -webkit-animation-duration: .6s;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

  visibility: visible !important;
}

.is-visible .mdl-navigation__link:nth-child(2) {
  animation-duration: .8s;
  -webkit-animation-duration: .8s;
}

.is-visible .mdl-navigation__link:nth-child(3) {
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
}

.is-visible .mdl-navigation__link:nth-child(3) {
  animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;
}

.is-visible .mdl-navigation__link:nth-child(4) {
  animation-duration: 1.4s;
  -webkit-animation-duration: 1.4s;
}

@keyframes slideLeft {
  0% {
    transform: translateX(-150%);
  }
  //50%{
  //  transform: translateX(-10%);
  //}
  //65%{
  //  transform: translateX(5%);
  //}
  //80%{
  //  transform: translateX(-4%);
  //}
  //95%{
  //  transform: translateX(2%);
  //}
  100% {
    transform: translateX(0%);
  }
}

@media (min-width: 1025px) {
  .mdl-layout__drawer-button {
    display: none;
  }
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  background-color: unset;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  padding-bottom: 5px;
  margin-bottom: 16px;
}